{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>

    {% block css %}{% endblock %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">   
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="{% static 'js/AdminLTE-3.2.0/plugins/overlayScrollbars/css/OverlayScrollbars.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
</head>

<body class="hold-transition sidebar-mini dark-mode layout-fixed">

    <div class="wrapper">

        <nav class="main-header navbar navbar-expand navbar-dark navbar-light">

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="{% url 'login:index' %}" class="nav-link">Início</a>
                </li>
                <!-- <li class="nav-item d-none d-sm-inline-block">
                    <a href="#" class="nav-link">Contact</a>
                </li> -->
            </ul>

            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" data-widget="navbar-search" href="#" role="button">
                        <i class="fas fa-search"></i>
                    </a>
                    <div class="navbar-search-block">
                        <form class="form-inline">
                            <div class="input-group input-group-sm">
                                <input class="form-control form-control-navbar" type="search" placeholder="Pesquisar"
                                    aria-label="Pesquisar">
                                <div class="input-group-append">
                                    <button class="btn btn-navbar" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                    <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-bell"></i>
                        <!-- <span class="badge badge-warning navbar-badge">0</span> -->
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <span class="dropdown-item dropdown-header">Notificações</span>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-file mr-2"></i> 3 fichas de avaliação
                            <span class="float-right text-muted text-sm">Há 2 dias</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item dropdown-footer">Ver todas as notificações</a>
                    </div>
                </li>
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a href="{% url 'login:logout_usuario' %}">
                        <button type="button" class="btn btn-outline-danger">
                            <i class="fa-solid fa-arrow-right-from-bracket color-red"></i>
                        </button>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>


        <aside class="main-sidebar sidebar-dark-primary elevation-4">

            <div class="text-center">
                <a href="{% url 'login:index' %}" class="brand-link no-border-bottom">
                    <img src="{% static 'img/emcm_logo_vert.png' %}" alt="EMCM Logo" width="59" height="80" class="d-inline-block align-text-top">
                </a>
            </div>
            <div class="sidebar">

                <div class="form-inline">
                    <div class="input-group" data-widget="sidebar-search">
                        <input class="form-control form-control-sidebar" type="search" placeholder="Pesquisar"
                            aria-label="Pesquisar">
                        <div class="input-group-append">
                            <button class="btn btn-sidebar">
                                <i class="fas fa-search fa-fw"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                        data-accordion="false">
                        {% if request.user.is_authenticated and is_admin %}
                        <li class="nav-header">AÇÕES</li>
                        <li class="nav-item">
                            <a href="{% url 'users:index_aluno' %}" class="nav-link">
                                <i class="nav-icon fas fa-solid fa-user-graduate"></i>
                                <p>Alunos</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'aula:index_aula_admin' %}" class="nav-link">
                                <i class="nav-icon fas fa-solid fa-graduation-cap"></i>
                                <p>Aulas</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-solid fa-person-chalkboard"></i>
                                <p>Professores</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link ">
                                <i class="nav-icon fas fa-solid fa-book-medical"></i>
                                <p>Áreas</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-clipboard-list"></i>
                                <p>Relatórios</p>
                            </a>
                        </li>
                        <li class="nav-header">CADASTRO</li>
                        <li class="nav-item {% block menu_cadastro_open %}{% endblock %}">
                            <a href="#" class="nav-link {% block active_cadastro_nav %}{% endblock %}">
                                <i class="nav-icon fas fa-user-plus"></i>
                                <p>
                                    Cadastro de Usuário
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="{% url 'users:add_admin_template' %}" class="nav-link {% block active_link_admin %}{% endblock %}">
                                        <i class="fas fa-id-card nav-icon"></i>
                                        <p>Administrador</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'users:add_prof_template' %}" class="nav-link {% block active_link_prof %}{% endblock %}">
                                        <i class="fas fa-person-chalkboard nav-icon"></i>
                                        <p>Professor</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        {% elif request.user.is_authenticated and not is_admin %}
                        <li class="nav-header">AÇÕES</li>
                        <li class="nav-item">
                            <a href="{% url 'aula:index_aula_prof' request.user.username %}" class="nav-link {% block active_link_aulas %}{% endblock %}">
                                <i class="nav-icon fas fa-graduation-cap nav-icon"></i>
                                <p>Aulas</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-list nav-icon"></i>
                                <p>Avaliações</p>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>

            </div>

        </aside>

        <div class="content-wrapper">

            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>{% block h1 %}{% endblock h1 %}</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="{% url 'login:index' %}" class="teal-color">Início</a></li>
                                {% block breadcrumb %}{% endblock %}
                            </ol>
                        </div>
                    </div>
                </div>
            </section>

            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">

                            <div class="card card-outline card-teal">
                                <div class="card-header">
                                    <h3 class="card-title">{% block card-title %}{% endblock %}</h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse"
                                            title="Collapse">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    {% block content %}{% endblock %}
                                </div>

                                <div class="card-footer">
                                    {% block footer %}{% endblock %}
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </section>

        </div>

        <footer class="main-footer">
            <div class="float-right d-none d-sm-block">
                <b>Version</b> 0.0.1
            </div>
            <strong>Copyright &copy; 2022 <a href="http://emcm.ufrn.br/site" target="_blank"  class="teal-color">UFRN-EMCM</a>.</strong> All rights
            reserved.
        </footer>

        <aside class="control-sidebar control-sidebar-dark">

        </aside>

    </div>

    <script src="{% static 'js/AdminLTE-3.2.0/plugins/jquery/jquery.min.js' %}"></script>

    <script src="{% static 'js/AdminLTE-3.2.0/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    
    <script src="{% static 'js/AdminLTE-3.2.0/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js' %}"></script>

    <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/js/adminlte.min.js"></script>

    <script src="https://kit.fontawesome.com/e4293cedeb.js" crossorigin="anonymous"></script>

    {% block scripts %}{% endblock %}

    <!-- <script src="{% static 'js/AdminLTE-3.2.0/dist/js/demo.js' %}"></script> -->
</body>

</html>