{% extends 'base.html' %}

{% block title %}Esqueceu sua senha?{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
        <div class="container-fluid p-0">
            <div class="alert {% if message.tags %} {{ message.tags }} {% endif %} alert-dismissible" role="alert">
                <button type="button" class="close text-black" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="True">&times;</span>
                </button>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                    <i class="fa-solid fa-triangle-exclamation"></i>
                {% endif %}
                {{ message }}
            </div>
        </div>
        {% endfor %}
    {% endif %}
    <h1>Esqueceu sua senha?</h1>
    <p>Esqueceu sua senha? Forneça seu endereço de email abaixo, e nos te enviaremos um email com instruções para configurar uma nova.</p>

    {% load crispy_forms_tags %}
    <form method="POST">
        {% csrf_token %}
        {{ password_reset_form|crispy }}
        <button type="submit" class="btn btn-primary btn-teal">Enviar</button>
    </form>
{% endblock %}