{% extends "base.html" %}
{% block breadcrumb %}
    {% autoescape off %}
    <li class="breadcrumb-item">Usuários</li>
    <li class="breadcrumb-item">{{full_name}}</li>
    <li class="breadcrumb-item active">Adicionar Aluno</li>
    {% endautoescape %}
{% endblock %}
{% block title %}Adicionar Aluno {% endblock %}
{% block h1 %}Adicionar Aluno{% endblock h1 %}
{% block card-title %}
    {% autoescape off %}
        <a href="{% url 'users:index_aluno' %}">
            <i class="fa-solid fa-circle-arrow-left teal-color"></i>
        </a>&nbsp
    {% endautoescape %}
    Adicionar Aluno
{% endblock %}
{% block active_link_alunos %}active-teal{% endblock %}
{% block content %}
{% if messages %}
    {% for message in messages %}
        <div class="container-fluid p-0">
            <div class="alert {% if message.tags %} {{ message.tags }} {% endif %} alert-dismissible" role="alert">
                <button type="button" class="close text-black" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="True">&times;</span>
                </button>
                {{ message }}
            </div>
        </div>
    {% endfor %}
{% endif %}
    <form method="post">
        {% csrf_token %}
        {% comment %} {{form}} {% endcomment %}
        <div class="form-group">
            <label for="matricula">Matrícula: </label>
            <input id="matricula" type="text" name="matricula" class="form-control" max_length="20" required placeholder="Matrícula do Aluno">
        </div>

        <div class="form-group">
            <label for="nome">Nome do Aluno: </label>
            <input id="nome" type="text" name="nome" class="form-control" max_length="100" required placeholder="Nome Completo">
        </div>

        <div class="d-flex justify-content-center">
            <a class="mr-3" href="{% url 'users:index_aluno' %}">
                <button type="button" class="btn btn-md btn-outline-light">Cancelar</button>
            </a>
            <button type="submit" class="btn btn-outline-primary btn-outline-teal">Cadastrar</button>
        </div>
    </form>
{% endblock %}
