{% extends 'base.html' %}
{% block title %}{{full_name}} - Editar Aluno{% endblock %}
{% block h1 %}Editar informações de {{ aluno.nome }}{% endblock %}
{% block breadcrumb %}
    {% autoescape off %}
    <li class="breadcrumb-item">Usuários</li>
    <li class="breadcrumb-item">{{full_name}}</li>
    <li class="breadcrumb-item active">Editar {{ aluno.nome }}</li>
    {% endautoescape %}
{% endblock %}
{% block card-title %}
    {% autoescape off %}
        <a href="{% url 'users:index_aluno' %}">
            <i class="fa-solid fa-circle-arrow-left teal-color"></i>
        </a>&nbsp
    {% endautoescape %}
    Editar Aluno
{% endblock %}
{% block content %}
<form method='POST'>
    {% csrf_token %}
    <div class="form-group">
        <label for="matricula">Matrícula: </label>
        <input id="matricula" type="text" name="matricula" class="form-control" max_length="20" required placeholder="Matrícula do Aluno" value="{{ aluno.matricula }}">
    </div>

    <div class="form-group">
        <label for="nome">Nome do Aluno: </label>
        <input id="nome" type="text" name="nome" class="form-control" max_length="100" required placeholder="Nome Completo"  value="{{ aluno.nome }}">
    </div>

    <div class="d-flex justify-content-center">
        <a class="mr-3" href="{% url 'users:index_aluno' %}">
            <button type="button" class="btn btn-md btn-outline-light">Cancelar</button>
        </a>
        <button type="submit" class="btn btn-outline-primary btn-outline-teal">Atualizar</button>
    </div>
</form>
{% endblock %}
