{% extends 'base.html' %}
{% block breadcrumb %}
    {% autoescape off %}
        <li class="breadcrumb-item">Usuários</li>
        <li class="breadcrumb-item active">{{full_name}}</li>
    {% endautoescape %}
{% endblock %}
{% block title %}ClassReport - {{full_name}} {% endblock %}
{% block h1 %}Olá, {{full_name}}{% endblock h1 %}
{% block card-title %}Menu{% endblock %}
{% block content %}
<a class="btn btn-app" href="{% url 'users:index_aluno' %}">
    <i class="fas fa-solid fa-user-graduate"></i> Alunos
</a>
<a class="btn btn-app" href="{% url 'aula:index_aula_admin' %}">
    <i class="fas fa-graduation-cap"></i> Aulas
</a>
<a class="btn btn-app" href="#">
    <i class="fas fa-solid fa-person-chalkboard"></i> Professores
</a>
<a class="btn btn-app" href="#">
    <i class="fas fa-solid fa-book-medical"></i> Áreas
</a>
<a class="btn btn-app" href="#">
    <i class="fas fa-solid fa-clipboard-list"></i> Relatórios
</a>
{% endblock %}
