{% extends 'base.html' %}
{% block breadcrumb %}
    {% autoescape off %}
        <li class="breadcrumb-item">Usuários</li>
        <li class="breadcrumb-item active">{{full_name}}</li>
    {% endautoescape %}
{% endblock %}
{% block title %}ClassReport - {{full_name}} {% endblock %}
{% block h1 %}Olá, {{full_name}}{% endblock h1 %}
{% block card-title %}Menu{% endblock %}
{% block content %}
<a href="{% url 'turma:listar_turmas' %}" class="btn btn-app" {% block active_link_turmas_prof %}{% endblock %}>
    <i class="nav-icon fas fa-solid fa-users-rectangle"></i> Turmas
</a>
<a class="btn btn-app" href="#">
    <i class="fas fa-list"></i> Avaliações
</a>
{% endblock %}