{% extends "base.html" %}
{% block breadcrumb %}
    {% autoescape off %}
    <li class="breadcrumb-item">Usuários</li>
    <li class="breadcrumb-item active">Adicionar Administrador</li>
    {% endautoescape %}
{% endblock %}
{% block title %}Adicionar Administrador {% endblock %}
{% block h1 %}Adicionar Administrador{% endblock h1 %}
{% block active_link_add_admin %}active{% endblock %}
{% block active_cadastro_nav %}active-teal{% endblock %}
{% block menu_cadastro_open %}menu-open{% endblock %}
{% block card-title %}
    {% autoescape off %}
        <a href="#" onclick="history.back()">
            <i class="fa-solid fa-circle-arrow-left teal-color"></i>
        </a>&nbsp
    {% endautoescape %}
    Administrador
{% endblock %}
{% block content %}
    {% if messages %}
    {% for message in messages %}
        <div class="container-fluid p-0">
            <div class="alert {% if message.tags %} {{ message.tags }} {% endif %} alert-dismissible" role="alert">
                <button type="button" class="close text-black" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="True">&times;</span>
                </button>
                {{ message }}
            </div>
        </div>
    {% endfor %}
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="siape">Siape: </label>
            <input id="siape" type="number" name="siape" class="form-control" required placeholder="Siape">
        </div>
        
        <div class="form-group">
            <label for="first_name">Nome: </label>
            <input id="first_name" type="text" name="first_name" class="form-control" required placeholder="Primeiro Nome">
        </div>
        
        <div class="form-group">
            <label for="last_name">Sobrenome: </label>
            <input id="last_name" type="text" name="last_name" class="form-control" required placeholder="Sobrenome">
        </div>
        
        <div class="form-group">
            <label for="username">Username: </label>
            <input id="username" type="text" name="username" class="form-control" required placeholder="Nome de usuário">
        </div>
        
        <div class="form-group">
            <label for="email">E-mail: </label>
            <input id="email" type="email" name="email" class="form-control" required placeholder="E-mail">
        </div>
        
        <div class="form-group">
            <label for="password">Senha: </label>
            <input id="password" type="password" name="password" class="form-control" required placeholder="Senha">
        </div>
        
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-outline-primary btn-outline-teal">Cadastrar</button>
        </div>
    </form>
{% endblock %}