{% extends 'base.html' %}
{% block title %}{{full_name}} - Editar Aula{% endblock %}
{% block active_link_aulas %}active-teal{% endblock %}
{% block breadcrumb %}
    {% autoescape off %}
    <li class="breadcrumb-item">Usuários</li>
    <li class="breadcrumb-item">{{full_name}}</li>
    <li class="breadcrumb-item"><a href="{% url 'aula:index_aula' request.user.username %}" class="teal-color">Minhas Aulas</a></li>
    <li class="breadcrumb-item active">Editar Aula</li>
    {% endautoescape %}
{% endblock %}
{% block card-title %}
    {% autoescape off %}
        <a href="{% url 'aula:get_aula' request.user.username aula.id %}">
            <i class="fa-solid fa-circle-arrow-left teal-color"></i>
        </a>&nbsp
    {% endautoescape %}
    Editar Aula
{% endblock %}
{% block content %}
<form method='POST'>
    {% csrf_token %}
    <div class="form-group">
        <label for="assunto">Assunto: </label>
        <textarea
            id="assunto"
            type="text"
            name="assunto"
            class="form-control"
            rows=10
            maxlength=255
            required
            placeholder="Assunto da aula, observações, etc...">{{ aula.assunto }}</textarea>
    </div>

    <div class="form-group">
        <label for="dataAula">Data da aula: </label>
        <input id="dataAula" type="date" name="dataAula" class="form-control" required placeholder="Data da aula" value="{{aula.datetime.date|date:"Y-m-d"}}">
    </div>

    <div class="form-group">
        <label for="horario">Horário da aula: </label>
        <input id="horario" type="time" name="horario" class="form-control" required placeholder="Horário da aula" value="{{aula.datetime.time}}">
    </div>

    <div class="d-flex justify-content-center">
        <a class="mr-3" href="{% url 'aula:get_aula' request.user.username aula.id %}">
            <button type="button" class="btn btn-md btn-outline-light">Cancelar</button>
        </a>
        <button type="submit" class="btn btn-outline-primary btn-outline-teal">Cadastrar</button>
    </div>
</form>
{% endblock %}
