{% extends 'base.html' %}
{% block title %}{{full_name}} - Editar Aula{% endblock %}
{% block active_link_aulas_admin %}active-teal{% endblock %}
{% block active_link_aulas_prof %}active-teal{% endblock %}
{% block breadcrumb %}
    {% autoescape off %}
    <li class="breadcrumb-item">Usuários</li>
    <li class="breadcrumb-item">{{full_name}}</li>
    <li class="breadcrumb-item"><a href="{% url 'aula:index_aula_prof' request.user.username %}" class="teal-color">Minhas Aulas</a></li>
    <li class="breadcrumb-item active">Editar Aula</li>
    {% endautoescape %}
{% endblock %}
{% block card-title %}
    {% autoescape off %}
        <a href="{% url 'aula:get_aula' aula.id %}">
            <i class="fa-solid fa-circle-arrow-left teal-color"></i>
        </a>&nbsp
    {% endautoescape %}
    Editar Aula
{% endblock %}
{% block content %}
{% if messages %}
    {% for message in messages %}
        <div class="container-fluid p-0">
            <div class="alert {% if message.tags %} {{ message.tags }} {% endif %} alert-dismissible" role="alert">
                <button type="button" class="close text-black" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="True">&times;</span>
                </button>
                {{ message }}
            </div>
        </div>
    {% endfor %}
{% endif %}
<form method='POST'>
    {% csrf_token %}

    <div class="form-group">
        <label for="turma">Turma: </label>
        <select id="turma" type="text" name="turma" class="form-control" required placeholder="Turma">
            <option value="{{aula.turma.id}}" selected>{{aula.turma}}</option>
            {% for turma in turmas %}
                {% if turma.id != aula.turma.id %}
                    <option value="{{turma.id}}">{{turma}}</option>
                    {% comment %} não mostra duplicado {% endcomment %}
                {% endif %}
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="assunto">Assunto: </label>
        <textarea
            id="assunto"
            type="text"
            name="assunto"
            class="form-control"
            rows=10
            maxlength=255
            required
            placeholder="Assunto da aula, observações, etc...">{{ aula.assunto }}</textarea>
    </div>

    <div class="form-group">
        <label for="datetime">Data e Hora da Aula: </label>
        <input id="datetime" type="datetime-local" name="datetime" class="form-control" required placeholder="Data e Hora da Aula" value="{{aula.datetime.date|date:"Y-m-d"}}T{{aula.datetime.time}}">
    </div>

    <div class="d-flex justify-content-center">
        <a class="mr-3" href="{% url 'aula:get_aula' aula.id %}">
            <button type="button" class="btn btn-md btn-outline-light">Cancelar</button>
        </a>
        <button type="submit" class="btn btn-outline-primary btn-outline-teal">Cadastrar</button>
    </div>
</form>
{% endblock %}
