{% extends "base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/css/dataTables.bootstrap4.min.css" integrity="sha512-PT0RvABaDhDQugEbpNMwgYBCnGCiTZMh9yOzUsJHDgl/dMhD9yjHAwoumnUk3JydV3QTcIkNDuN40CJxik5+WQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}
{% block breadcrumb %}
    {% autoescape off %}
    <li class="breadcrumb-item">Usuários</li>
    <li class="breadcrumb-item">{{full_name}}</li>
    <li class="breadcrumb-item active">Listar Aulas de {{aluno}}</li>
    {% endautoescape %}
{% endblock %}
{% block title %}{{full_name}} - Listar Aulas de {{aluno}}{% endblock %}
{% block h1 %}Listar Aulas de {{aluno}}{% endblock h1 %}
{% block active_link_alunos %}active-teal{% endblock %}
{% block card-title %}
    {% autoescape off %}
        <a href="#" onclick="history.back()">
            <i class="fa-solid fa-circle-arrow-left teal-color"></i>
        </a>&nbsp
    {% endautoescape %}
    Aulas de {{aluno}}
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="col-sm-12">
        <h3>Filtrar por data:</h3>
        <form action="{% url 'aula:aulas_do_aluno' aluno.matricula %}">
            <div class="form-group">
                <label for="data_inicio">Data de início:</label>
                <input id="data_inicio" type="date" name="data_inicio" class="form-control" value="{{data_inicio|default_if_none:""}}">
            </div>
            <div class="form-group">
                <label for="data_fim">Data de Fim:</label>
                <input id="data_fim" type="date" name="data_fim" class="form-control" value="{{data_fim|default_if_none:""}}">
            </div>
            <div class="form-group">
                <label for="turma">Turma: </label>
                <select id="turma" type="text" name="turma" class="form-control" placeholder="Turma">
                    <option value="" selected="">---------</option>
                    {% for turma in turmas %}
                    <option value="{{turma.id}}">{{turma}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary btn-teal">Filtrar</button>
                <a href="{% url 'aula:aulas_do_aluno' aluno.matricula %}" class="ml-3">
                    <button type="button" class="btn btn-primary btn-teal">Limpar Filtros</button>
                </a>
            </div>
        </form>
    </div>
</div>
<hr>
<div class="container-fluid mt-3">
    <div class="col-sm-12 m-auto">
        <div class="card">
            <div class="card-header bg-teal">
                <h3 class="card-title">{{aluno.nome}} - {{aluno.matricula}}</h3>
            </div>
            <div class="card-body">
                <strong>
                    <i class="fas fa-book mr-1"></i> 
                    Frequência no período selecionado: 
                    <span class="float-right">{{presenca}}/{{aulas.count}} aulas</span>
                </strong>
                <hr>
                <strong>
                    <i class="fas fa-book mr-1"></i> 
                    Avaliações feitas pelo professor: 
                    <span class="float-right">{{avaliacoes.count}}/{{aulas.count}} avaliações</span>
                </strong>
            </div>
        </div>
    </div>

    <div class="col-sm-12 m-auto">
        <div class="card">
            <div class="card-header bg-teal">
                <h3 class="card-title">Média nos Critérios de Avaliação 
                    {% if data_inicio %}
                    - De <b>{{data_inicio|date:'SHORT_DATE_FORMAT'}}</b> até <b>{{data_fim|date:'SHORT_DATE_FORMAT'}}</b>
                    {% endif %}
                </h3>
            </div>
            <div class="card-body">
                <strong>
                    <i class="fas fa-book mr-1"></i> 
                    Assiduidade e Pontualidade: 
                    <span class="float-right">{{criterios_avaliacao.assiduidade}}</span>
                </strong>
                <hr>
                <strong>
                    <i class="fas fa-book mr-1"></i> 
                    Iniciativa e Interesse: 
                    <span class="float-right">{{criterios_avaliacao.iniciativa}}</span>
                </strong>
                <hr>
                <strong>
                    <i class="fas fa-book mr-1"></i> 
                    Profissionalismo: 
                    <span class="float-right">{{criterios_avaliacao.profissionalismo}}</span>
                </strong>
                <hr>
                <strong>
                    <i class="fas fa-book mr-1"></i> 
                    Raciocínio Clínico: 
                    <span class="float-right">{{criterios_avaliacao.raciocinio_clinico}}</span>
                </strong>
                <hr>
                <strong>
                    <i class="fas fa-book mr-1"></i> 
                    Relação Médico-Paciente: 
                    <span class="float-right">{{criterios_avaliacao.relacao_med_paciente}}</span>
                </strong>
            </div>
        </div>
    </div>
</div>

<div id="btn_exportar" class="d-flex justify-content-center">
    <a class="btn btn-primary btn-teal mt-3" onclick="exportar()">
        <i class="fa-solid fa-file-pdf"></i>
        Exportar PDF
    </a>
</div>

<div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
    <div class="row">
        <div class="col-sm-12">
            <table id="example1" class="table table-bordered dataTable dtr-inline"
                aria-describedby="example1_info">
                <thead class="text-center">
                    <tr>
                        <th tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                            aria-label="Turma: ativar para ordenar ascendente">Turma</th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                            aria-sort="ascending" aria-label="Aula/Assunto: ativar para ordenar ascendente">Aula/Assunto</th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                            aria-sort="ascending" aria-label="Presente: ativar para ordenar ascendente">Presente?</th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                            aria-sort="ascending" aria-label="Avaliado: ativar para ordenar ascendente">Avaliado?</th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                            aria-sort="ascending" aria-label="Data: ativar para ordenar ascendente">Data</th>
                    </tr>
                </thead>
                <tbody>
                {% for aula in aulas %}
                    <tr class="odd">
                        <td class="text-center">
                            {{aula.aula.turma}}&nbsp;&nbsp;
                            <a href="{% url 'turma:listar_aulas_de_turma' aula.aula.turma.id %}">
                                <i class="fa-solid fa-arrow-up-right-from-square"></i>
                            </a>
                        </td>
                        <td class="text-center">{{aula.aula.assunto|default_if_none:"-"}}&nbsp;&nbsp;
                            <a href="{% url 'aula:detalhar_aula' aula.aula.id %}">
                                <i class="fa-solid fa-arrow-up-right-from-square"></i>
                            </a>
                        </td>
                        <td class="text-center">{% if aula.presenca %}Sim{% else %}Não{% endif %}</td>
                        <td class="text-center">
                            {% for avaliacao in avaliacoes %}
                                {% if aula.aula == avaliacao.aula_do_aluno.aula %}
                                    Sim 
                                    <a href="{% url 'avaliacao:detalhar_avaliacao' avaliacao.id %}">
                                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                    </a>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td class="text-center">{{aula.aula.datetime|date:'SHORT_DATE_FORMAT'}} às {{aula.aula.datetime|time:'H:i'}}</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot class="text-center">
                    <tr>
                        <th rowspan="1" colspan="1">Turma</th>
                        <th rowspan="1" colspan="1">Aula/Assunto</th>
                        <th rowspan="1" colspan="1">Presente</th>
                        <th rowspan="1" colspan="1">Avaliado?</th>
                        <th rowspan="1" colspan="1">Data</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js" integrity="sha512-BkpSL20WETFylMrcirBahHfSnY++H2O1W+UnEEO4yNIl+jI2+zowyoGJpbtk6bx97fBXf++WJHSSK2MV4ghPcg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/dataTables.bootstrap4.min.js" integrity="sha512-OQlawZneA7zzfI6B1n1tjUuo3C5mtYuAWpQdg+iI9mkDoo7iFzTqnQHf+K5ThOWNJ9AbXL4+ZDwH7ykySPQc+A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables-responsive/2.3.0/dataTables.responsive.min.js" integrity="sha512-jHZCTFSeSUkjMMzALVJ5aztNk1+qw1EOhBu6AZIIJo0j4YsCyG4S/feS27WkEAV7C6htBoE4GCqPOjAOodu2Jw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables.net-responsive-bs4/2.3.0/responsive.bootstrap4.min.js" integrity="sha512-Isz8YdCq0qR8rvj22HWFFfj9vi+ambuHruMv9ctDBb2BDiSfOcY76BcoH5uSVj1nHDbCUb9qeG2CDSTYkaf8QQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables-buttons/2.2.3/js/dataTables.buttons.min.js" integrity="sha512-QT3oEXamRhx0x+SRDcgisygyWze0UicgNLFM9Dj5QfJuu2TVyw7xRQfmB0g7Z5/TgCdYKNW15QumLBGWoPefYg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables.net-buttons-bs4/2.2.3/buttons.bootstrap4.min.js" integrity="sha512-DfTGKO1w5pcl0/oFlkn7icaopS8zAeOKoIfk2MZRIaxX6NlZ7PFSLX83BU5UILhfolXFKN40lk2ftpRbftw+Kw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.0/jszip.min.js" integrity="sha512-xcHCGC5tQ0SHlRX8Anbz6oy/OullASJkEhb4gjkneVpGE3/QGYejf14CUO5n5q5paiHfRFTa9HKgByxzidw2Bw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.5/pdfmake.min.js" integrity="sha512-rDbVu5s98lzXZsmJoMa0DjHNE+RwPJACogUCLyq3Xxm2kJO6qsQwjbE5NDk2DqmlKcxDirCnU1wAzVLe12IM3w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.5/vfs_fonts.js" integrity="sha512-cktKDgjEiIkPVHYbn8bh/FEyYxmt4JDJJjOCu5/FQAkW4bc911XtKYValiyzBiJigjVEvrIAyQFEbRJZyDA1wQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables-buttons/2.2.3/js/buttons.html5.min.js" integrity="sha512-BdN+kHA7QfWIcQE3WMwSj5QAvVUrSGxJLv7/yuEEypMOZBSJ1VKGr9BSpOew+6va9yfGUACw/8Yt7LKNn3RKRA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables-buttons/2.2.3/js/buttons.print.min.js" integrity="sha512-UthH9WkvNUixebk8yKEFm3Sy+Rm8GbuvxiIMCDs9Cepl+YxhY+LUijPFZshcW7+PHa/HcSFLfSX3fGq1AcglWg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        $(function () {
          $("#example1").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
            "buttons": ["copy", "csv", "excel", "pdf", "print"],
            "language": {
                url: 'https://cdn.datatables.net/plug-ins/1.12.1/i18n/pt-BR.json'
            }
          }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        });

        function exportar() {
            document.body.classList.toggle("dark-mode");
            document.getElementById("btn_exportar").classList.add("invisible");
            setTimeout(function(){
                window.print();
            }, 1000);
            setTimeout(function(){
                document.getElementById("btn_exportar").classList.remove("invisible");
                document.body.classList.toggle("dark-mode");
            }, 2000);
         }
      </script>
{% endblock %}