{% extends 'base.html' %}
{% block title %}{{full_name}} - Detalhar Avaliação{% endblock %}
{% block active_link_aulas_admin %}active-teal{% endblock %}
{% block active_link_aulas_prof %}active-teal{% endblock %}
{% block css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/css/dataTables.bootstrap4.min.css" integrity="sha512-PT0RvABaDhDQugEbpNMwgYBCnGCiTZMh9yOzUsJHDgl/dMhD9yjHAwoumnUk3JydV3QTcIkNDuN40CJxik5+WQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}
{% block breadcrumb %}
    {% autoescape off %}
        <li class="breadcrumb-item">Usuários</li>
        <li class="breadcrumb-item">{{full_name}}</li>
        {% if is_admin %}
        <li class="breadcrumb-item"><a href="{% url 'aula:index_aula_admin' %}" class="teal-color">Aulas Cadastradas</a></li>
        {% else %}
        <li class="breadcrumb-item"><a href="{% url 'aula:get_aula' avaliacao.aula_do_aluno.aula.id %}" class="teal-color">Minhas Aulas</a></li>
        {% endif %}
        <li class="breadcrumb-item active">Avaliação</li>
    {% endautoescape %}
{% endblock %}
{% block h1 %}Avaliação de {{avaliacao.aula_do_aluno.aluno}}{% endblock h1 %}
{% block card-title %}
    {% autoescape off %}
    {% if is_admin %}
        <a href="{% url 'aula:index_aula_admin' %}">
            <i class="fa-solid fa-circle-arrow-left teal-color"></i>
        </a>&nbsp
    {% else %}
        <a href="{% url 'aula:get_aula' avaliacao.aula_do_aluno.aula.id %}">
            <i class="fa-solid fa-circle-arrow-left teal-color"></i>
        </a>&nbsp
    {% endif %}
    {% endautoescape %}
    Aula de {{avaliacao.aula_do_aluno.aula.turma}}
{% endblock %}
{% block content %}
{% if messages %}
    {% for message in messages %}
        <div class="container-fluid p-0">
            <div class="alert {% if message.tags %} {{ message.tags }} {% endif %} alert-dismissible" role="alert">
                <button type="button" class="close text-black" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="True">&times;</span>
                </button>
                {{ message }}
            </div>
        </div>
    {% endfor %}
{% endif %}
<div class="col-sm-12 col-lg-4 m-auto">
    <div class="card card-success shadow">
        <div class="card-header bg-teal">
            <h3 class="card-title">Avaliação de {{avaliacao.aula_do_aluno.aluno}}</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <p class="text-center">{{avaliacao.aula_do_aluno.aula.turma}}</p>
            <p class="text-center">Aula: {{avaliacao.aula_do_aluno.aula.assunto}}</p>
            <p class="text-center">Aluno: {{avaliacao.aula_do_aluno.aluno}}</p>
            <p class="text-right mb-0"><small>{{avaliacao.aula_do_aluno.aula.datetime|date:'SHORT_DATE_FORMAT'}} - {{avaliacao.aula_do_aluno.aula.datetime|time:'H:i'}}</small></p>
        </div>
    </div>
</div>
<div class="card-body">
    <div class="card card-primary">
        <div class="card-header bg-teal">
            <h3 class="card-title">Critérios de Avaliação</h3>
        </div>
        <div class="card-body">
            <strong>ASSIDUIDADE E PONTUALIDADE:</strong>
            <p class="text-muted">
                {{str_avaliacao.assiduidade}}
            </p>
            <hr>
            <strong>INICIATIVA E INTERESSE:</strong><br>
            Avaliar se o aluno demonstra interesse em acompanhar os atendimentos, iniciativa para auxiliar nas atividades e disponibilidade para aprender.
            <p class="text-muted">
                {{str_avaliacao.iniciativa}}
            </p>
            <hr>
            <strong>PROFISSIONALISMO E QUALIDADES HUMANÍSTICAS:</strong><br>
            Avaliar se o aluno demonstra atitude respeitosa e colaborativa para com os preceptores, os(as) pacientes, demais membros da equipe e colegas estudantes.
            <p class="text-muted">
                {{str_avaliacao.profissionalismo}}
            </p>
            <hr>
            <strong>RACIOCÍNIO CLÍNICO:</strong><br>
            Avaliar se o aluno realiza adequadamente o exame clínico e se aplica adequadamente os recursos propedêuticos, com vistas ao diagnóstico correto e formulação de planos terapêuticos.
            <p class="text-muted">
                {{str_avaliacao.raciocinio_clinico}}
            </p>
            <hr>
            <strong>RELAÇÃO MÉDICO-PACIENTE:</strong><br>
            Avaliar se o aluno comunica-se adequadamente com os(as) paciente(s) e/ou familiares, obtém consentimento (quando necessário), demonstra respeito à privacidade e adota postura ética.
            <p class="text-muted">
                {{str_avaliacao.relacao_med_paciente}}
            </p>
            <hr>
            <div class="d-flex justify-content-center border-top border-teal">
                <a href="{% url 'avaliacao:editar_avaliacao' avaliacao.id %}" class="btn btn-outline-light mr-3 mt-3">
                    <i class="fa-solid fa-pen-to-square"></i> Editar
                </a>
                <a class="btn btn-primary btn-teal mr-3 mt-3" href="{% url 'avaliacao:exportar_pdf' avaliacao.id %}">
                    <i class="fa-solid fa-file-pdf"></i>
                    Exportar PDF
                </a>
                <a href="{% url 'avaliacao:excluir_avaliacao_template' avaliacao.id %}" class="btn btn-outline-danger mt-3">
                    <i class="fa-solid fa-trash-can"></i> Excluir
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js" integrity="sha512-BkpSL20WETFylMrcirBahHfSnY++H2O1W+UnEEO4yNIl+jI2+zowyoGJpbtk6bx97fBXf++WJHSSK2MV4ghPcg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/dataTables.bootstrap4.min.js" integrity="sha512-OQlawZneA7zzfI6B1n1tjUuo3C5mtYuAWpQdg+iI9mkDoo7iFzTqnQHf+K5ThOWNJ9AbXL4+ZDwH7ykySPQc+A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables-responsive/2.3.0/dataTables.responsive.min.js" integrity="sha512-jHZCTFSeSUkjMMzALVJ5aztNk1+qw1EOhBu6AZIIJo0j4YsCyG4S/feS27WkEAV7C6htBoE4GCqPOjAOodu2Jw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables.net-responsive-bs4/2.3.0/responsive.bootstrap4.min.js" integrity="sha512-Isz8YdCq0qR8rvj22HWFFfj9vi+ambuHruMv9ctDBb2BDiSfOcY76BcoH5uSVj1nHDbCUb9qeG2CDSTYkaf8QQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables-buttons/2.2.3/js/dataTables.buttons.min.js" integrity="sha512-QT3oEXamRhx0x+SRDcgisygyWze0UicgNLFM9Dj5QfJuu2TVyw7xRQfmB0g7Z5/TgCdYKNW15QumLBGWoPefYg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables.net-buttons-bs4/2.2.3/buttons.bootstrap4.min.js" integrity="sha512-DfTGKO1w5pcl0/oFlkn7icaopS8zAeOKoIfk2MZRIaxX6NlZ7PFSLX83BU5UILhfolXFKN40lk2ftpRbftw+Kw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.0/jszip.min.js" integrity="sha512-xcHCGC5tQ0SHlRX8Anbz6oy/OullASJkEhb4gjkneVpGE3/QGYejf14CUO5n5q5paiHfRFTa9HKgByxzidw2Bw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.5/pdfmake.min.js" integrity="sha512-rDbVu5s98lzXZsmJoMa0DjHNE+RwPJACogUCLyq3Xxm2kJO6qsQwjbE5NDk2DqmlKcxDirCnU1wAzVLe12IM3w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.5/vfs_fonts.js" integrity="sha512-cktKDgjEiIkPVHYbn8bh/FEyYxmt4JDJJjOCu5/FQAkW4bc911XtKYValiyzBiJigjVEvrIAyQFEbRJZyDA1wQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables-buttons/2.2.3/js/buttons.html5.min.js" integrity="sha512-BdN+kHA7QfWIcQE3WMwSj5QAvVUrSGxJLv7/yuEEypMOZBSJ1VKGr9BSpOew+6va9yfGUACw/8Yt7LKNn3RKRA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables-buttons/2.2.3/js/buttons.print.min.js" integrity="sha512-UthH9WkvNUixebk8yKEFm3Sy+Rm8GbuvxiIMCDs9Cepl+YxhY+LUijPFZshcW7+PHa/HcSFLfSX3fGq1AcglWg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        $(function () {
          $("#example1").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
            "language": {
                url: 'https://cdn.datatables.net/plug-ins/1.12.1/i18n/pt-BR.json'
            }
          }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        });
    </script>
{% endblock %}
